$background: #821410;
html,
body {
    height: 100%;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $background;
    background-image: url('../components/img/background.jpg');
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: white
}

//INICIO
.inicio-carousel {
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.inicio-img2 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 11;
    transition: opacity 1s ease-in-out;
}

@media screen and (min-width: 1200px) {
    .inicio-text {
        margin-left: 20%;
        margin-right: 20%;
    }
}