$background: #821410;
html,
body {
    height: 100%;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $background;
    background-image: url('../components/img/background.jpg');
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: white
}

//INICIO
.inicio-carousel {
    position: relative;
}

.inicio-img1 {
    position: absolute;
    z-index: 10;
}

.inicio-img2 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 11;
    transition: opacity 1s ease-in-out;
}