$background: #821410;
$orange: #e89c48;
.orange {
    color: $orange;
}

html,
body {
    height: 100%;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $background;
    background-image: url('../components/img/background.jpg');
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: white
}

//INICIO
.inicio-carousel {
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.inicio-img2 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 11;
    transition: opacity 1s ease-in-out;
}

.inicio-text {
    color: rgb(223, 223, 223);
}

@media screen and (min-width: 1200px) {
    .inicio-text {
        margin-left: 20%;
        margin-right: 20%;
    }
}

.inicio-right {
    text-align: right;
}

.inicio-text-left {
    border-right: 1px solid rgb(223, 223, 223);
}

@media screen and (max-width: 576px) {
    .inicio-text-left {
        border-right: 0;
    }
    .inicio-right {
        text-align: justify;
    }
    .inicio-justify {
        text-align: justify;
        margin-top: 30px;
    }
}

//EQUIPAMIENTO
#equipamiento ul {
    list-style: none;
    padding-left: 0px;
}

#equipamiento li {
    padding-left: 16px;
    background: url('../components/img/eq_list.png') 0 11px no-repeat;
}

//ARTISTAS
.artistas-iframe {
    border: 0;
    width: 170px;
    height: 170px;
}

.artistas-iframes {
    font-size: 0.9rem;
}

.artistas-iframes .col {
    padding: 20px 40px;
}

.artistas-iframes p {
    margin: 0;
}