.navbar {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.6rem;
    position: relative;
    top: 0;
    margin-left: auto!important;
    margin-right: auto!important;
    z-index: 20;
    font-family: 'Pathway Gothic One', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-logo {
    align-items: flex-start;
    cursor: pointer;
    flex-grow: 1;
}

.nav-logo img {
    max-width: 300px;
    position: absolute;
    top: 20px;
    z-index: 5;
}

.nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    /* margin-right: 2rem; */
    align-self: flex-end;
}

.nav-links {
    color: #d1d0d0;
    text-decoration: none;
    padding: 0.1rem 2.5rem 0.21rem;
    height: 100%;
    /* border-bottom: 1px solid transparent; */
    border-top: 1px solid #e89c48;
    border-bottom: 1px solid #e89c48;
    /* background: rgba(0, 0, 0, 0.14) */
    transition: color 0.3s ease;
}

.nav-links:hover {
    color: white;
    transition: color 0.3s ease;
}

.fa-code {
    margin-left: 1rem;
}

.nav-item {
    /* line-height: 40px; */
    align-self: flex-end;
    /* margin-right: 1rem; */
}


/* .nav-item:after {
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
} */

.nav-item:hover:after {
    width: 100%;
    background: white;
}

.nav-item .active {
    color: #e89c48;
    transition: color 0.3s ease;
}

.nav-icon {
    display: none;
}

@media screen and (max-width: 1199px) {
    .nav-links {
        padding: 0.1rem 1.5rem;
    }
}

@media screen and (max-width: 767px) {
    .nav-logo img {
        max-width: 50%;
    }
}

@media screen and (max-width: 991px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100vw;
        position: fixed;
        top: 80px;
        left: -100vw;
        opacity: 1;
        transition: all 0.5s ease;
        padding-bottom: 17px;
        padding-left: 0;
    }
    .nav-menu img {
        display: none;
    }
    .nav-menu.active {
        background: rgba(0, 0, 0, 0.8);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-item {
        align-self: flex-end;
    }
    .nav-item .active {
        color: #e89c48;
        border: none;
        align-self: center;
    }
    .nav-links,
    .nav-links:hover {
        width: 100%;
        display: table;
        border: 0;
        background: none;
    }
    .nav-icon {
        padding-top: 60px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #e89c48;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        height: 110px;
    }
    .nav-icon {
        padding-top: 30px;
    }
}